$white-color: #ffffff;
$primary-color: #2577fd;
$secondary-color: #868c98;
$star-color: #ffbc07;
$background-secondary: #f1f9fe;
$driver-color: #e9eff8;

.justify-content-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.title-section {
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: $primary-color;
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.product-list .product {
  position: relative;
  display: block;
  padding-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  transform-origin: 0 0;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.2px;

  .pro-view {
    position: absolute;
    color: $primary-color;
    font-size: 1.2rem;
    top: 8px;
    left: 10px;
    z-index: 1;

    i {
      font-size: 1.2rem;
    }
  }

  .pro-new {
    position: absolute;
    padding: 2px 5px;
    top: 8px;
    right: -5px;
    font-size: 1.2rem;
    color: $white-color;
    background-color: #de4b3e;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -5px;
      border-top: 5px solid #de4b3e;
      border-right: 5px solid transparent;
      filter: brightness(80%);
    }
  }

  .pro-img {
    text-align: center;
    display: block;
    margin: 0 auto;
    max-height: 200px;
    max-width: 200px;
    border-radius: 4px;
    transition: transform 0.4s ease-in-out;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px 3px;

    .pro-img {
      animation-fill-mode: forwards;
      transform: scale(1.05);
    }

    .pro-info {
      .pro-detail {
        display: block;
      }

      .pro-name {
        display: none;
      }
    }
  }

  .pro-info {
    padding: 8px 14px;
    padding-top: 14px;

    & > div {
      margin-top: 4px;
    }

    .pro-detail {
      display: none;
      margin: 0 auto;
      width: 90%;
      height: 36px;
      color: $white-color;
      text-align: center;
      line-height: 36px;
      border-radius: 10px;
      background-image: linear-gradient(
        to right,
        rgb(55, 204, 255),
        rgb(123, 34, 255)
      );
      animation: fadeIn ease-in 0.5s;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 2px 1.2px;
    }

    .pro-name {
      color: $primary-color;
      font-size: 1.5rem;
      text-align: center;
      height: 36px;
      line-height: 1.6rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
    }

    .pro-price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .pro-current-price {
        color: $star-color;
        font-size: 1.4rem;
        margin-bottom: 0;
      }

      .pro-prev-price {
        color: $secondary-color;
        font-size: 1.2rem;
      }
    }

    .pro-more {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .pro-star i {
        font-size: 1.2rem;
      }

      .pro-sell {
        font-size: 1.1rem;
        color: $secondary-color;
      }
    }
  }
}

.no-item {
  color: $primary-color;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
  border-radius: 4px;
  overflow: hidden;

  thead {
    tr {
      border-bottom: 1.4px solid $driver-color;
      background-color: $background-secondary;

      th {
        color: $primary-color;
        font-weight: 600;
        text-align: center;
        font-size: 1.4rem;
        padding: 1.2rem;
      }
    }
  }

  tbody {
    tr {
      transition: 0.3s ease-in-out;
      border-top: 1px solid $driver-color;

      td {
        color: $secondary-color;
        text-align: center;
        font-size: 1.4rem;
        padding: 1.2rem;
      }

      &:hover {
        background-color: $background-secondary;
      }

      .pro-img {
        display: block;
        margin: 0 auto;
        width: 80px;
        height: 80px;
        border-radius: 4px;
        overflow: hidden;
      }
      .pro-name {
        color: $primary-color;
      }

      .pro-quantity {
        color: $secondary-color;
        width: 45px;
        background-color: #f7f7f7;
        border: none;
        outline: none;
        padding: 4px 4px;
        border-radius: 4px;
        box-shadow: $driver-color 0px 0px 0px 1.2px;
      }
    }
  }
}
//main

.app {
  margin: 0 auto;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;

  &.active {
    display: block;
  }
}

.content.gird {
  .cart-section {
    .title-section {
      margin-top: 0;
    }

    .cart-total {
      padding-right: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .total-money-wrapper {
        margin-top: 10px;

        .title-money {
          display: inline-block;
          color: $secondary-color;
          font-size: 2rem;
          font-weight: 600;
          text-transform: uppercase;
        }

        .total-money {
          display: inline-block;
          color: $primary-color;
          font-size: 2.4rem;
          font-weight: 600;
        }
      }

      .btn-checkout {
        margin-top: 10px;
        padding: 14px 26px;
        color: $white-color;
        font-size: 2rem;
        border-radius: 8px;
        text-transform: uppercase;
        background-color: $primary-color;
        cursor: pointer;
      }
    }
  }
}
