.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  color: #2577fd;
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.success {
  color: #4bb543 !important;
}

.title {
  color: #2577fd;
  text-transform: uppercase;
}

.title-home {
  font-size: 30px;
  color: #2577fd;
  text-align: center;
  text-transform: uppercase;
}

.todo-item {
  margin: 6px 8px;
  display: flex;
  width: 300px;
  height: 70px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.2px;
}

.item-star {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-status {
  margin: 0 8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.item-body {
  flex: 1;
}

.todo-name {
  color: #2577fd;
  font-size: 14px;
  margin: 1px 0;
}

.todo-time {
  color: #868c98;
  font-size: 14px;
  margin: 1px 0;
}

.todo-status {
  color: #868c98;
  font-size: 14px;
  margin: 1px 0;
}

.item-end {
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.item-icon {
  margin: 0px;
}

.vertical-timeline::before {
  background: #ccc !important;
}

.vertical-timeline-element-content {
  -webkit-box-shadow: 0 3px 0 #4bb54385 !important;
  box-shadow: 0 3px 0 #4bb54385 !important;
}

.vertical-timeline-element-title {
  color: #2577fd;
  font-size: 20px !important;
}

.vertical-timeline-element-subtitle {
  color: #ccc;
}

.vertical-timeline-element-desc {
  color: #ccc;
}
